# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Introduce commonly used libraries in Data Science
- Demonstrate basic arithmetic expressions in Python
- Convert time units using Python
- Explore popular tools for Data Science development environments

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Matplotlib



| Data Science Tools     |
|------------------------|
| Jupyter Notebook        |
| RStudio                |
| Apache Zeppelin         |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
R = 200 / 60
R = round(R, 2)
print(R)

3.33

## Author
Alexis